*{
    padding: 0;
    margin: 0;
}
.wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1% 10%;
    align-content: space-between;
    gap: 1em;
}
.wrap .item{
    width: 400px;
    background-color: #f5f4f4;
}
.wrap .item .content{
    flex-wrap: wrap;
    width: 400px;
}

.introduction{
    width: 100%;
    height: 300px;
    margin: 0;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;

}
.introduction .item{
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;

}
.introduction .item .left{
    width: 58%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: palevioletred solid; */
}
.introduction .item .left .top{
    /* border: rgb(38, 0, 255) solid; */
}
.introduction .item .left .p{

    text-align: end;
    /* border: red solid; */
}
.introduction .item .right{
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center ;
    align-items: center;

}
.introduction .item img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0;
}


footer{
    background-color: #494949;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 1% 20%;
}
footer ul{
    display: flex;
    flex-direction: row;
}
footer li{
    color: white;
    list-style: none;
}